- var bar_img_url = "https://yuanshen.site/imgs/loading-bar.png"
#loading-box(onclick="this.classList.add('loaded')")
  .loading-bg
    .loading-bar(role="presentation" aria-hidden="true")
      img(src=bar_img_url alt="Loading..." longdesc="https://ys.mihoyo.com/main/")
script.
  (function () {
    const prefersDark =
    window.matchMedia &&
    window.matchMedia("(prefers-color-scheme: dark)").matches;
    const setting = localStorage.getItem("color-schema") || "auto";
    if (setting === "dark" || (prefersDark && setting !== "light"))
    document.documentElement.classList.toggle("dark", true);
  })();
  const preloader = {
    endLoading: () => {
      document.getElementById('loading-box').classList.add("loaded");
    },
    initLoading: () => {
      document.getElementById('loading-box').classList.remove("loaded")
    }
  }
  window.addEventListener('load',()=> { preloader.endLoading() })
  setTimeout(function(){preloader.endLoading();},10000)

  if (!{theme.pjax && theme.pjax.enable}) {
    document.addEventListener('pjax:send', () => { preloader.initLoading() })
    document.addEventListener('pjax:complete', () => { preloader.endLoading() })
  }

link(rel="stylesheet", href="/css/loading.css")
