.card-widget.card-pixiv
 .card-content
  .item-headline
    i.fa.fa-image(aria-hidden="true")
    span
      | Pixiv日榜Top50
  iframe(src="https://cloud.mokeyjay.com/pixiv" frameborder="0" style="width:100%;height:280px;margin:0;")
